<!-- Embed Code Dialog Template -->
<md-dialog flex="100">
   <!-- Toolbar -->
   <md-toolbar layout="row" layout-align="start center">
      <div class="md-toolbar-tools">
         <!-- Icon -->
         <md-button aria-label="embeditor-icon" class="md-warn" aria-label="icon"> 
            <ng-md-icon icon="album" size="40"></ng-md-icon>
         </md-button>
         <!-- Instructions -->
         <div class="embed-instructions" flex="70">
            <span class="embed-title"> Embed </span>
            <br>
            <span> Paste the code below in your post or site.
            </span> 
         </div>
         <span flex></span>
         <!-- Close button -->
         <md-button id="code-dialog-dismiss-btn" click="mdDialog.hide()" aria-label="close">
            <ng-md-icon icon="clear"></ng-md-icon>
         </md-button>
     </div>
   </md-toolbar>

   <!-- DB Connection Error Message -->
   <div layout="column" layout-fill layout-align="center center" ng-show="creationError">
      <h3> Ooops. Something's down. </h3>
   </div>

   <div layout="column" layout-fill ng-show="!creationError">
    
      <!-- Content Column -->
      <div layout="column" layout-fill>
         <!-- Code Window -->
         <md-dialog-content class="embed-dialog-content"
            layout="row" layout-align="center" layout-fill> 

            <md-content flex class="embed-code-text"> 
               <span ng-show="ready" 
                     id='embed-code-text' 
                     ng-class="{'embed-code-highlight': highlight}">
                     {{code}}
               </span>
               <md-progress-circular 
                     md-mode="indeterminate" 
                     class="md-warn embed-code-spinner" 
                     ng-show="!ready">
               </md-progress-circular>
            </md-content>      
         </md-dialog-content>
      </div>
   </div>
   
   <!-- Footer -->
   <md-toolbar layout="row" layout-align="start center">
      <div class="md-toolbar-tools md-warn">

         <div class="embed-instructions" flex="100">
            <!-- Message -->
            <span class="embed-title"> What does an embed look like?</span>
            <br>
            <span> See:  </span> 
            <!-- Help link -->
            <a class="embed-help-link" target="_blank" 
               href="http://apocyclopse.tumblr.com"> 
              apocyclopse.tumblr.com
            </a> 
         </div>
         <span flex></span>
     </div>
   </md-toolbar>
</md-dialog>
<!-- </script> -->